@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    --champagne: #efd9ceff;
    --pastel: #dec0f1;
    --light-purple: #957fef;
    --purple: #6247aa;
    --dark: #1D1D1F;
    
    --font-intit: 'Inter', sans-serif;
}

body {
    font-size: 14px;
    background: #F5F5F7;
}

nav {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2em;    
}
nav ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    font-family: var(--font-intit);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
  position: relative;
  padding: 0.2em 0;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    border-radius: 25px;
    background-color: var(--dark);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }


nav a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  
nav a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
nav a:hover::after,
  a:focus::after{
    transform: scale(1);
  }



/* ==================== */

.main-container {
  width: 75%;
  height: 110vh;
  background: white;
  margin: auto;
  margin-top: 3em;
  border-radius: 25px;
  padding: 2em;
  font-family: var(--font-intit);
}

.main-container h2{
  text-align: center;
  font-size: 3em;
  width: 80%;
  margin: auto;
}

.main-container img {
  width: 90%;
}

.main-parent {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .grid-div1 { grid-area: 1 / 1 / 2 / 2; }
  .grid-div2 { grid-area: 2 / 1 / 3 / 2; }
  .grid-div3 { 
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
}
  .grid-div4 { grid-area: 1 / 3 / 2 / 4; }
  .grid-div5 { grid-area: 2 / 3 / 3 / 4; }



  .recycle-container {
    width: 75%;
    height: 80vh;
    background: white;
    margin: auto;
    margin-top: 3em;
    border-radius: 25px;
    padding: 2em;
    font-family: var(--font-intit);
    overflow: hidden;
  }

  .recycle-container h2{
    text-align: center;
    font-size: 4em;
    width: 80%;
    margin: auto;
  }

  

  .small-container {
    width: 75%;
    height: 80vh;
    
    margin: auto;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-intit);
    overflow: hidden;
  }
  
  .small-container div {
    width: 47.5%;
    border-radius: 25px;
    height: 100%;
    background: white;
    text-align: center;
    justify-content: center;
    font-size: 3em;
    display: flex;
    align-items: center;
    line-height: 2.5em;
  }

  .sm-bg-div {
    background-color: #222 !important;
  }

  .sm-bg-div h2{
    color: white;
    width: 70%;
    line-height: 1em;
  }

  .sm-bg-div h2 span{
    color: var(--purple);
  }

@media only screen and (max-width : 1024px) {
  .small-container {
    font-size: 7px;
    height: 50vh;
  }

}

@media only screen and (max-width : 450px) {

}
/* FOOTER */


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
    background: 
    linear-gradient(180deg, white, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(200deg, var(--purple),rgba(0, 255, 0, 0) 70.71%), 
    linear-gradient(10deg, var(--purple), rgba(0, 0, 255, 0) 70.71%),
    linear-gradient(360deg, var(--dark), rgba(0, 0, 255, 0) 70.71%);
}

#footer-container{
    background-color: rgba(16, 43, 63, 0.3);
    border-radius: 20px;
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-content {
    font-family: var(--font-intit);
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 40vh;
}

#footer-content a:first-child {
    padding: 0.7em 0.5em;
    width: 100px;
    border-radius: 10px;
    text-decoration: none;
    color: rgba(240, 248, 255, 0.9);
    background: var(--dark);
    font-size: 0.7em;
    font-weight: 700;
    margin-right: 5em;
}

#footer-content div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-content a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.9);
    align-items: center;

}